@import '../base/variables';

.notifications-miniapp {
    background: #f1f1f1;
    margin-top: unit-space(1);
    border-radius: 8px;
    h3 {
        margin: unit-space(1);
    }
    footer {
        text-align: center;
        padding: unit-space(1) 0;
        .button {
            background: darken($alt-color, 20);
            font-size: 16px;
            padding: 0 10px;
        }
    }
    .add-notification {
        padding-bottom: unit-space(1);
        form {
            margin: unit-space(1);
            .input-text {
                margin-right: unit-space(1);
            }
            input[type="number"] {
                width: 100px;
            }
        }
    }
}